{% extends "base.html" %}
{% block content %}
<div class='card mt-4 mx-auto p-3 py-2' style='width: 18rem;'>
<form method='post'>
    {% csrf_token %}
    <label for='password'>current Password</label>
    <input type='password' name='current_password'/><br>
    <label for='password'>New Password</label>
    <input type='password' name='password'/><br>
    <label for='password'>confirm Password</label>
    <input type='password' name='confirm_password'/><br>
    <button type='submit' class='mt-2 btn btn-success'>change password</button>
</form>
</div>
{% endblock content %}